*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}
.header {
  background: #2a2929;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 22px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f39c12;
}


.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}


.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.auth-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.auth-button {
  padding: 12px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.auth-button:hover {
  background: #555;
}

.auth-message {
  margin-top: 15px;
  text-align: center;
  color: #e74c3c;
  font-size: 14px;
}
.auth-timer {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: #2c3e50;
}

.auth-message.error {
  color: #e74c3c;
  font-weight: bold;
}
